<ion-header>
	<ion-navbar>
		<ion-title><span>Información de la </span>BT</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding color='contentAboutColor'>
	<ion-list>
		<ion-item *ngFor="let d of diseases; let i=index" text-wrap (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}" class="item-accordion">
			<h3>
				<ion-icon color="success" item-right [name]="isGroupShown(i) ? 'remove' : 'add'"></ion-icon>
				<span>{{d.title}}</span>
			</h3>
			<div *ngIf="isGroupShown(i)">{{d.description}}</div>
		</ion-item>
	</ion-list>
</ion-content>

