page-about {
	ion-list .item.item-accordion {
		line-height: 38px;
		padding-top: 0;
		padding-bottom: 0;
		transition: 0.09s all linear;
		.item-inner {
			h3 {
				height: 37px;
				line-height: 37px;
				margin: 0;
				span {
					line-height: 37px;
					height: 37px;
					margin: 0;
					display: inline-block;
					float: left;
				}
				ion-icon {
					padding-right: 8px;
					font-size: 3rem;
					line-height: 37px;
					height: 37px;
					margin: 0;
					color: #036AC0;
					float: left;
				}
			}
		}
	}
	ion-list .item.item-accordion.active {
		background-color: #e9e9e9;
		.item-inner {
			border-bottom: 0;
			h3 {
				color: #000;
				font-weight: 900;
				ion-icon {
					color: #000000;
				}
			}
		}
	}
}
@media screen and (max-width: 320px) {
	page-about {
		.item-md {
			padding-left: 10px;
		}
		ion-list .item.item-accordion .item-inner h3 ion-icon {
			font-size: 2rem;
			padding-right: 5px;
		}
	}
}
