page-login {
	.content-login {
			background: rgba(2, 106, 192,1);
			background: -moz-linear-gradient(left, #015aa5 0%, rgba(2, 106, 192,1) 45%, #015aa5 100%);
			background: -webkit-linear-gradient(left, #015aa5 0%, rgba(2, 106, 192,1) 45%, #015aa5 100%);
			background: -o-linear-gradient(left, #015aa5 0%, rgba(2, 106, 192,1) 45%, #015aa5 100%);
			background: -ms-linear-gradient(left, #015aa5 0%, rgba(2, 106, 192,1) 45%, #015aa5 100%);
			background: linear-gradient(to right, #015aa5 0%, rgba(2, 106, 192,1) 45%, #015aa5 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#036AC0', endColorstr='#036AC0', GradientType=1 );
		.text-input-md {
			text-align: center;
		}
		h1 {
			text-align: center;
			margin-top: 5rem !important;
			margin-bottom: 3rem;
		}
		.login {
			.item-block {
				padding-left: 0 !important;
				margin-bottom: 10px;
			}
		}
		.button-md-secondary {
			padding: 2.5rem;
			background-color: rgba(255,255,255,.6);
			color: #000;
			outline: 1px solid rgba(255,255,255,.8);
			font-weight: 700;
			font-size: 2rem;
			.ion-md-lock {
				display: none;
			}
			.ion-md-unlock {
				display: inline-block;
			}
		}
		.button-md-secondary[disabled] {
			background-color: #ddd;
			color: #666666;
			opacity: 1;
			.ion-md-lock {
				display: inline-block;
			}
			.ion-md-unlock {
				display: none;
			}
		}
		input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
			background-color: #ffffff !important;
		}
		.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
			border-bottom: 2px solid #f53d3d;
			color: #f53d3d;
		}
	}
}
.alert-md .alert-button-group {
	background-color: #015aa5;
}
.alert-md .alert-button {
	color: #ffffff;
}
