<ion-content padding class="content-login">
	<h1 padding><img src="assets/imgs/logo-bt.png" alt="Logo"></h1>
	<ion-list class="login">
		<form (ngSubmit)="login()">
			<ion-item>
				<ion-input type="tel" name="dni" [(ngModel)]="user.dni" placeholder="DNI" maxlength="8" pattern="[0-9]*" required></ion-input>
			</ion-item>

			<ion-item>
				<ion-input type="password" name="password" [(ngModel)]="user.password" placeholder="Contraseña" required></ion-input>
			</ion-item>
			<button type="submit" ion-button icon-left block color="secondary" [disabled]="user.dni === '' || user.password === ''">
				<ion-icon name="lock"></ion-icon>
				Entrar
			</button>
		</form>
	</ion-list>
</ion-content>
