<ion-header>
	<ion-navbar>
		<ion-title><span>Configuración de </span>usuario</ion-title>
	</ion-navbar>
</ion-header>
<ion-content>
	<form [formGroup]="myForm" (ngSubmit)="updateUser()" *ngIf="user">
		<ion-list>
			<ion-item>
				<ion-icon name="person" item-start></ion-icon>
				<ion-label stacked>Nombres:</ion-label>
				<ion-input formControlName="name" [(ngModel)]="user.name"></ion-input>
			</ion-item>
			<ion-item>
				<ion-icon name="person" item-start></ion-icon>
				<ion-label stacked>Apellidos:</ion-label>
				<ion-input formControlName="apellidos" [(ngModel)]="user.apellidos"></ion-input>
			</ion-item>
			<ion-item>
				<ion-icon name="finger-print" item-start></ion-icon>
				<ion-label stacked>D.N.I.:</ion-label>
				<ion-input formControlName="dni" [(ngModel)]="user.dni"></ion-input>
			</ion-item>
			<ion-row radio-group formControlName="sexo" [(ngModel)]="user.sexo">
				<ion-col>
					<ion-item>
						<ion-icon name="person" item-start></ion-icon>
						<ion-label>Hombre</ion-label>
						<ion-radio value="Masculino"></ion-radio>
					</ion-item>
				</ion-col>
				<ion-col>
					<ion-item>
						<ion-icon name="woman" item-start></ion-icon>
						<ion-label>Mujer</ion-label>
						<ion-radio value="Femenino"></ion-radio>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-list>
				<ion-item>
					<ion-icon name="body" item-start></ion-icon>
					<ion-label>Estado civil</ion-label>
					<ion-select formControlName="estado_civil" [(ngModel)]="user.estado_civil">
						<ion-option value="Soltero">Solter@</ion-option>
						<ion-option value="Casado">Casad@</ion-option>
						<ion-option value="Viudo">Viud@</ion-option>
						<ion-option value="Divorciado">Divorciad@</ion-option>
						<ion-option value="Conviviente">Conviviente</ion-option>
					</ion-select>
				</ion-item>
			</ion-list>
			<ion-item>
				<ion-icon name="phone-portrait" item-start></ion-icon>
				<ion-label stacked>Celular:</ion-label>
				<ion-input formControlName="celular" [(ngModel)]="user.celular"></ion-input>
			</ion-item>
			<ion-item>
				<ion-icon name="calendar" item-start></ion-icon>
				<ion-label stacked>Fecha de nacimiento:</ion-label>
				<ion-datetime formControlName="fec_nacimiento" [(ngModel)]="user.fec_nacimiento" displayFormat="DD-MM-YYYY"></ion-datetime>
			</ion-item>
			<ion-item>
				<ion-icon name="pin" item-start></ion-icon>
				<ion-label stacked>Dirección:</ion-label>
				<ion-input formControlName="direccion" [(ngModel)]="user.direccion"></ion-input>
			</ion-item>
			<ion-list>
				<ion-item>
					<ion-icon name="school" item-start></ion-icon>
					<ion-label>Especialidad</ion-label>
					<ion-select formControlName="especialidad_id" [(ngModel)]="user.especialidad_id">
						<ion-option value="{{especialidad.id}}" *ngFor="let especialidad of especialidades">{{ especialidad.nombre}}</ion-option>
					</ion-select>
				</ion-item>
			</ion-list>
		</ion-list>
		<div padding>
			<button ion-button block type="submit" [disabled]="myForm.invalid">Actualizar</button>
		</div>
	</form>
</ion-content>
