// Roboto Font
// Google
// Apache License, version 2.0
// http://www.apache.org/licenses/LICENSE-2.0.html

$roboto-font-path: $font-path !default;

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 300;
  src: local("OpenSans Light"), local("OpenSans-Light"), url("#{$roboto-font-path}/opensans-light.woff2") format("woff2"), url("#{$roboto-font-path}/opensans-light.woff") format("woff"), url("#{$roboto-font-path}/opensans-light.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  src: local("OpenSans"), local("OpenSans-Regular"), url("#{$roboto-font-path}/opensans-regular.woff2") format("woff2"), url("#{$roboto-font-path}/opensans-regular.woff") format("woff"), url("#{$roboto-font-path}/opensans-regular.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 700;
  src: local("OpenSans Bold"), local("OpenSans-Bold"), url("#{$roboto-font-path}/opensans-bold.woff2") format("woff2"), url("#{$roboto-font-path}/opensans-bold.woff") format("woff"), url("#{$roboto-font-path}/opensans-bold.ttf") format("truetype");
}
