<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Ofertas Recientes</ion-title>
		<ion-buttons end>
			<button ion-button icon-only color="white" (click)="goToConfig()">
				<span class="name-nav">{{ user.name }}</span>
				<ion-icon name="person"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content view-title="Ofertas destacadas" hide-back-button="true">
	<ion-list *ngIf="posts.length; else no_content">

		<ion-item *ngFor="let post of posts" (click)="viewDetail(post.id)">
			<ion-avatar item-start>
				<img [src]="getEmpresaLogo(post.photo)">
			</ion-avatar>
			<h2 text-lowercase>{{post.title}}</h2>
			<h3>{{post.nombre_emp}}</h3>
			<p>
				<ion-grid>
					<ion-row>
						<ion-col col-6><ion-icon name="time"></ion-icon> {{post.modalidad}}</ion-col>
						<ion-col col-6>
							<ion-icon name="pin"></ion-icon> {{ post.ciudad }}
						</ion-col>
					</ion-row>
				</ion-grid>
			</p>
		</ion-item>

	</ion-list>
	<ng-template #no_content>
		<ion-card>
			<ion-card-content text-center>No hay publicaciones</ion-card-content>
		</ion-card>
	</ng-template>
</ion-content>
