page-home {

	ion-item h2 {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		font-weight: 700 !important;
	}
	.first-col {
		margin-left: 12px;
	}
	.list-md .item-block .item-inner {
		border-bottom: 1px solid #036AC0;
	}
	.name-nav {
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		max-width: 100px;
		font-size: 11px;
		background-color: #036AC0;
		color: #fff;
		font-weight: 100;
		font-style: italic;
	}
	.toolbar-title-md {
		font-size: 16px;
	}
}
