<ion-header>
	<ion-navbar>
		<ion-title><span>{{action}} </span>convocatoria</ion-title>
	</ion-navbar>
</ion-header>
<ion-content>
	<form [formGroup]="publishForm" (ngSubmit)="saveData()">
		<ion-list>
			<ion-item>
				<ion-icon name="quote" item-start></ion-icon>
				<ion-label stacked>Título:</ion-label>
				<ion-input formControlName="title" [(ngModel)]="convocatoria.title"></ion-input>
			</ion-item>
			<ion-item>
				<ion-icon name="list" item-start></ion-icon>
				<ion-label stacked>Descripción:</ion-label>
				<ion-textarea formControlName="content" [(ngModel)]="convocatoria.content"></ion-textarea>
			</ion-item>
			<ion-item>
				<ion-icon name="paper" item-start></ion-icon>
				<ion-label stacked>Requisitos:</ion-label>
				<ion-input formControlName="requisitos" [(ngModel)]="convocatoria.requisitos"></ion-input>
			</ion-item>
			<ion-item>
				<ion-icon name="mail-open" item-start></ion-icon>
				<ion-label stacked>Correo electrónico:</ion-label>
				<ion-input formControlName="email" [(ngModel)]="convocatoria.email" type="email"></ion-input>
			</ion-item>
			<ion-item>
				<ion-icon name="call" item-start></ion-icon>
				<ion-label stacked>Teléfono:</ion-label>
				<ion-input formControlName="telefono" [(ngModel)]="convocatoria.telefono"></ion-input>
			</ion-item>
			<ion-item>
				<ion-icon name="time" item-start></ion-icon>
				<ion-label>Jormada Laboral:</ion-label>
				<ion-select multiple="false" [(ngModel)]="convocatoria.modalidad" cancelText="Cancelar" okText="Aceptar" formControlName="modalidad">
					<ion-option value="Full-time" selected="true">Tiempo Completo</ion-option>
					<ion-option value="Part-time">Medio tiempo</ion-option>
					<ion-option value="Por contrato">Por contrato</ion-option>
					<ion-option value="Por horas">Por horas</ion-option>
				</ion-select>
			</ion-item>
			<ion-row radio-group formControlName="modo" [(ngModel)]="convocatoria.modo">
				<ion-col>
					<ion-item>
						<ion-icon name="people" item-start></ion-icon>
						<ion-label>Presencial</ion-label>
						<ion-radio value="Presencial"></ion-radio>
					</ion-item>
				</ion-col>
				<ion-col>
					<ion-item>
						<ion-icon name="globe" item-start></ion-icon>
						<ion-label>A distancia</ion-label>
						<ion-radio value="A Distancia"></ion-radio>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-item>
				<ion-icon name="pin" item-start></ion-icon>
				<ion-label>Ciudad</ion-label>
				<ion-select multiple="false" [(ngModel)]="convocatoria.ciudad" cancelText="Cancelar" okText="Aceptar" formControlName="ciudad">
					<ion-option value="{{ ciudad.id }}" *ngFor="let ciudad of ciudades">{{ ciudad.name }}</ion-option>
				</ion-select>
			</ion-item>
			<ion-item>
				<ion-icon name="pricetags" item-start></ion-icon>
				<ion-label stacked>Categoría:</ion-label>
				<ion-input formControlName="tags" [(ngModel)]="convocatoria.tags" type="text"></ion-input>
			</ion-item>
			<ion-item *ngIf="!convocatoria.id">
				<ion-icon name="school" item-start></ion-icon>
				<ion-label>Especialidad</ion-label>
				<ion-select multiple="true"
							[(ngModel)]="convocatoria.especialidad"
							cancelText="Cancelar"
							okText="Aceptar"
							formControlName="especialidad">
					<ion-option value="{{ especialidad.id}}" *ngFor="let especialidad of especialidades">{{ especialidad.nombre}}</ion-option>
				</ion-select>
			</ion-item>
			<ion-row>
				<ion-col>
					<ion-item>
						<ion-icon name="ios-grid-outline" item-start></ion-icon>
						<ion-label stacked>Vacante:</ion-label>
						<ion-input formControlName="num_vacante" [(ngModel)]="convocatoria.num_vacante" type="number"></ion-input>
					</ion-item>
				</ion-col>
				<ion-col>
					<ion-item>
						<ion-icon name="options" item-start></ion-icon>
						<ion-label stacked>Sueldo:</ion-label>
						<ion-input type="number" formControlName="sueldo" [(ngModel)]="convocatoria.sueldo"></ion-input>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-item>
						<ion-icon name="calendar" item-start></ion-icon>
						<ion-label stacked>Inicio:</ion-label>
						<ion-datetime formControlName="fecha_inicio" [(ngModel)]="convocatoria.fecha_inicio" displayFormat="DD-MM-YYYY" placeholder="F. Inicio"></ion-datetime>
					</ion-item>
				</ion-col>
				<ion-col>
					<ion-item>
						<ion-icon name="calendar" item-start></ion-icon>
						<ion-label stacked>Fin:</ion-label>
						<ion-datetime formControlName="fecha_fin" [(ngModel)]="convocatoria.fecha_fin" displayFormat="DD-MM-YYYY" placeholder="F. Fin"></ion-datetime>
					</ion-item>
				</ion-col>
			</ion-row>
		</ion-list>
		<div padding>
			<button ion-button block type="submit" [disabled]="publishForm.invalid">{{action}}</button>
		</div>
	</form>
</ion-content>
