<ion-menu [content]="content">
	<ion-header color='navbarColor'>
		<ion-toolbar>
			<ion-title>Bolsa de Trabajo UNJFSC</ion-title>
		</ion-toolbar>
	</ion-header>
	<ion-content>
		<ion-list>
			<div *ngIf="1 == user.tipo_id">
				<button ion-item (click)="configUser()">
					<ion-icon name="build"></ion-icon> Configuración
				</button>
				<button ion-item (click)="cvPage()">
					<ion-icon name="school"></ion-icon> Currículo vitae
				</button>
				<button ion-item (click)="aboutPage()">
					<ion-icon name="help"></ion-icon> Información
				</button>
			</div>
			<div *ngIf="2 == user.tipo_id">
				<button ion-item (click)="configEmpresa()">
					<ion-icon name="build"></ion-icon> Configuración
				</button>
				<button ion-item (click)="publishPage()">
					<ion-icon name="megaphone"></ion-icon> Publicar convocatoria
				</button>
			</div>
			<button ion-item (click)="logout()">
				<ion-icon name="close"></ion-icon> Salir
			</button>
		</ion-list>
	</ion-content>
</ion-menu>
<ion-nav [root]="rootPage" #content></ion-nav>
