// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
/*.header-md-navbarColor .toolbar-background {
	background: rgba(2, 106, 192,1);
	background: -moz-linear-gradient(top, #15385f, #036AC0);
	background: -webkit-linear-gradient(top, #15385f, #036AC0);
	background: -o-linear-gradient(top, #15385f, #036AC0);
	background: -ms-linear-gradient(top, #15385f, #036AC0);
	background: linear-gradient(top, #15385f, #036AC0);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#036AC0', endColorstr='#036AC0', GradientType=1 );
}*/
.toolbar-background {
	background-color: $color_blue;
}
.toolbar-title-md {
	color: #ffffff;
	font-weight: 400;
	span {
		font-weight: 300;
	}
}
.bar-button-default-md {
	color: #ffffff;
}
.menu-inner > ion-content {
	background: #f1f1f1;
	background: -webkit-linear-gradient(to right, rgba(255,0,0,0), rgba(241,241,241,1));
	background: -moz-linear-gradient(to right, rgba(255,0,0,0), rgba(241,241,241,1));
	background: -o-linear-gradient(to right, rgba(255,0,0,0), rgba(241,241,241,1));
	background: -ms-linear-gradient(to right, rgba(255,0,0,0), rgba(241,241,241,1));
	background: linear-gradient(to right, rgba(255,0,0,0), rgba(241,241,241,1));
}
ion-app.md {
	font-family: "OpenSans", "Helvetica Neue", sans-serif !important;
}

.content-md {
	background: #f1f1f1;
	background: -moz-linear-gradient(top, #f1f1f1, #ffffff);
	background: -webkit-linear-gradient(top, #f1f1f1, #ffffff);
	background: -o-linear-gradient(top, #f1f1f1, #ffffff);
	background: -ms-linear-gradient(top, #f1f1f1, #ffffff);
	background: linear-gradient(top, #f1f1f1, #ffffff);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#ffffff', GradientType=1 );
}
.list-unstyle {
	padding-left: 20px;
	list-style-type: square;
}
