<ion-header>

	<ion-navbar>
		<ion-title><span>Detalle de la</span> Oferta</ion-title>
	</ion-navbar>

</ion-header>

<ion-content>
	<ion-card>
		<ion-item>
			<ion-avatar item-start>
				<ion-icon name="clipboard"></ion-icon>
			</ion-avatar>
			<h2>{{ convocatoria.title }}</h2>
			<p class="lugar"><ion-icon name="flag"></ion-icon> {{ convocatoria.ciudad }}</p>
		</ion-item>

		<img [src]="empresa.photo" class="logo-emp">

		<ion-card-content>
			<div class="main-detail">
				<strong><ion-icon name="people"></ion-icon> Empresa:</strong> {{ empresa.nombre_emp }}
			</div>
			<div class="main-detail">
				<strong><ion-icon name="call"></ion-icon> Teléfono:</strong> {{ empresa.telefono }}
			</div>
			<div class="main-detail">
				<strong><ion-icon name="mail"></ion-icon> Email:</strong> {{ empresa.correo }}
			</div>
			<hr>
			<h3>Descripción</h3>
			<p [innerHTML]="convocatoria.content"></p>
			<hr>
			<h3>Requisitos</h3>
			<p>{{ convocatoria.requisitos }}</p>
			<hr>
			<h3>
				Características
			</h3>
			<ion-list>
				<div ion-item>
					<strong item-start>Contrato:</strong>
					{{ convocatoria.modalidad }}
				</div>
				<div ion-item>
					<strong item-start>Sueldo:</strong>
					{{ convocatoria.sueldo }}
				</div>
				<div ion-item>
					<strong item-start>Modalidad:</strong>
					{{ convocatoria.modo }}
				</div>
				<div ion-item>
					<strong item-start>Número de vacantes:</strong>
					{{ convocatoria.num_vacante }}
				</div>
				<div ion-item>
					<strong item-start>Inicio:</strong>
					{{ convocatoria.fecha_inicio }}
				</div>
				<div ion-item>
					<strong item-start>Cierre:</strong>
					{{ convocatoria.fecha_fin }}
				</div>

				<button ion-button icon-left full [disabled]="isPostulate" (click)="postulate()">
					<ion-icon name="briefcase"></ion-icon>
					<span *ngIf="!isPostulate">Postular</span>
					<span *ngIf="isPostulate">Ya Postulaste</span>
				</button>
			</ion-list>
		</ion-card-content>
	</ion-card>
</ion-content>
