page-detail {
	.item-md h2 {
		font-weight: 700;
		white-space: normal;
	}
	.content-md {
		hr {
			background-color: rgba(3, 106, 192, .5);
			margin-top: 15px;
			margin-bottom: 25px;
		}
		h3 {
			font-size: 1.8rem;
			font-weight: 700;
			margin-bottom: 10px;
			border-left: 8px solid #036AC0;
			padding-left: 8px;
			vertical-align: middle;
			line-height: 31px;
			height: 31px;
		}
	}
	.lugar {
		color: #036AC0;
	}
	.logo-emp {
		margin: 0 auto;
		max-width: 180px;
		padding-bottom: 15px;
	}
	.main-detail ion-icon {
		color: #036AC0;
		font-weight: 700;
	}
	ion-avatar ion-icon {
		font-size: 2.5em
	}
}
