<ion-header>
	<ion-navbar>
		<ion-title><span>Currículo </span>vitae</ion-title>
	</ion-navbar>
</ion-header>
<ion-content>
	<form [formGroup]="cvForm" (ngSubmit)="saveData()" *ngIf="cv">
		<ion-list>
			<ion-item>
				<ion-icon name="paper" item-start></ion-icon>
				<ion-label stacked>Perfil profesional:</ion-label>
				<ion-textarea formControlName="perfil" [(ngModel)]="cv.perfil" readonly="{{cv.id > 0}}"></ion-textarea>
			</ion-item>
			<ion-item>
				<ion-icon name="options" item-start></ion-icon>
				<ion-label stacked>Sueldo:</ion-label>
				<ion-input type="number" formControlName="sueldo" [(ngModel)]="cv.sueldo" readonly="{{cv.id > 0}}"></ion-input>
			</ion-item>
			<ion-item>
				<ion-icon name="pin" item-start></ion-icon>
				<ion-label>Ciudad</ion-label>
				<ion-select multiple="false" cancelText="Cancelar" okText="Aceptar" formControlName="ciudad" [(ngModel)]="cv.ciudad" [disabled]="cv.id > 0">
					<ion-option value="{{ ciudad.id }}" *ngFor="let ciudad of ciudades">{{ ciudad.name }}</ion-option>
				</ion-select>
			</ion-item>
			<ion-item>
				<ion-icon name="school" item-start></ion-icon>
				<ion-label stacked>Educación Primaria:</ion-label>
				<ion-input formControlName="edu_primaria" [(ngModel)]="cv.edu_primaria" readonly="{{cv.id > 0}}"></ion-input>
			</ion-item>
			<ion-item>
				<ion-icon name="calendar" item-start></ion-icon>
				<ion-label stacked>Culminación Primaria:</ion-label>
				<ion-datetime formControlName="fec_fin_primaria" [(ngModel)]="cv.fec_fin_primaria" displayFormat="DD-MM-YYYY" placeholder="Fecha Fin" [disabled]="cv.id > 0"></ion-datetime>
			</ion-item>
			<ion-item>
				<ion-icon name="school" item-start></ion-icon>
				<ion-label stacked>Educación Secundaria:</ion-label>
				<ion-input formControlName="edu_secundaria" [(ngModel)]="cv.edu_secundaria" readonly="{{cv.id > 0}}"></ion-input>
			</ion-item>
			<ion-item>
				<ion-icon name="calendar" item-start></ion-icon>
				<ion-label stacked>Culminación Secundaria:</ion-label>
				<ion-datetime formControlName="fec_fin_secundaria" [(ngModel)]="cv.fec_fin_secundaria" displayFormat="DD-MM-YYYY" placeholder="Fecha Fin" [disabled]="cv.id > 0"></ion-datetime>
			</ion-item>
			<ion-item>
				<ion-icon name="school" item-start></ion-icon>
				<ion-label stacked>Educación Superior:</ion-label>
				<ion-input formControlName="edu_superior" [(ngModel)]="cv.edu_superior" readonly="{{cv.id > 0}}"></ion-input>
			</ion-item>
			<ion-item>
				<ion-icon name="calendar" item-start></ion-icon>
				<ion-label stacked>Culminación Superior:</ion-label>
				<ion-datetime formControlName="fec_fin_superior" [(ngModel)]="cv.fec_fin_superior" displayFormat="DD-MM-YYYY" placeholder="Fecha Fin" [disabled]="cv.id > 0"></ion-datetime>
			</ion-item>
			<ion-item>
				<ion-icon name="list" item-start></ion-icon>
				<ion-label stacked>Experiencia Laboral:</ion-label>
				<ion-textarea formControlName="exp_laboral" [(ngModel)]="cv.exp_laboral" readonly="{{cv.id > 0}}"></ion-textarea>
			</ion-item>
			<ion-item>
				<ion-icon name="ribbon" item-start></ion-icon>
				<ion-label stacked>Capacitaciones:</ion-label>
				<ion-textarea formControlName="capacitaciones" [(ngModel)]="cv.capacitaciones" readonly="{{cv.id > 0}}"></ion-textarea>
			</ion-item>
			<ion-item>
				<ion-icon name="flash" item-start></ion-icon>
				<ion-label stacked>Idiomas:</ion-label>
				<ion-input formControlName="idiomas" [(ngModel)]="cv.idiomas" readonly="{{cv.id > 0}}"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label stacked class="atencion">La actualizaciòn completa se realiza en el sistema web</ion-label>
			</ion-item>
		</ion-list>
		<div padding>
			<button ion-button block type="submit" [disabled]="cvForm.invalid" *ngIf="!cv.id">Crear</button>
		</div>
	</form>
</ion-content>
