page-cv {
	.item-md {
		color: #036AC0;
		ion-label {
			color: #080909 !important;
			font-size: 1.4rem !important;
		}
		&.item-block .item-inner{
			padding-right: 2px !important;
		}
		.atencion {
			color: red !important;
			font-size: 11px !important;
			text-align: center;
			font-style: italic;
		}
	}
	ion-row {
		background: white;
	}
	button[type="submit"] {
		background-color: #036AC0;
		color: white;
		outline: 1px solid rgba(255, 255, 255, 0.8);
		font-weight: 700;
		font-size: 2rem;
		height: 45px;
		border: 1px solid #036AC0;
	}
}
