<ion-header>
	<ion-navbar>
		<ion-title><span>Configuración de </span>empleador</ion-title>
	</ion-navbar>
</ion-header>
<ion-content>
	<form [formGroup]="myForm" (ngSubmit)="updateEmpresa()" *ngIf="empresa">
		<ion-list>
			<ion-item>
				<ion-icon name="quote" item-start></ion-icon>
				<ion-label stacked>Empresa:</ion-label>
				<ion-input formControlName="nombre_emp" [(ngModel)]="empresa.nombre_emp"></ion-input>
			</ion-item>
			<ion-item>
				<ion-icon name="person" item-start></ion-icon>
				<ion-label stacked>Persona Contacto:</ion-label>
				<ion-input formControlName="pcontact" [(ngModel)]="empresa.pcontact"></ion-input>
			</ion-item>
			<ion-item>
				<ion-icon name="mail-open" item-start></ion-icon>
				<ion-label stacked>Correo electrónico:</ion-label>
				<ion-input formControlName="correo" [(ngModel)]="empresa.correo" type="email"></ion-input>
			</ion-item>
			<ion-item>
				<ion-icon name="list" item-start></ion-icon>
				<ion-label stacked>Descripción:</ion-label>
				<ion-textarea formControlName="descripcion" [(ngModel)]="empresa.descripcion"></ion-textarea>
			</ion-item>
			<ion-list>
				<ion-item>
					<ion-icon name="school" item-start></ion-icon>
					<ion-label>Sector</ion-label>
					<ion-select formControlName="rubro" [(ngModel)]="empresa.rubro">
						<ion-option value="{{ sector.id }}" *ngFor="let sector of empresaService.sectores">{{ sector.name }}</ion-option>
					</ion-select>
				</ion-item>
			</ion-list>
			<ion-item>
				<ion-icon name="call" item-start></ion-icon>
				<ion-label stacked>Teléfono:</ion-label>
				<ion-input formControlName="telefono" [(ngModel)]="empresa.telefono"></ion-input>
			</ion-item>
			<ion-item>
				<ion-icon name="pin" item-start></ion-icon>
				<ion-label stacked>Dirección:</ion-label>
				<ion-input formControlName="direccion_emp" [(ngModel)]="empresa.direccion_emp"></ion-input>
			</ion-item>
			<ion-item>
				<ion-icon name="globe" item-start></ion-icon>
				<ion-label stacked>Sitio Web:</ion-label>
				<ion-input formControlName="sitio_web" [(ngModel)]="empresa.sitio_web" type="url"></ion-input>
			</ion-item>
			<ion-item>
				<ion-icon name="calendar" item-start></ion-icon>
				<ion-label stacked>Fecha de fundación:</ion-label>
				<ion-datetime formControlName="fec_fundacion" [(ngModel)]="empresa.fec_fundacion" displayFormat="DD-MM-YYYY"></ion-datetime>
			</ion-item>
		</ion-list>
		<div padding>
			<button ion-button block type="submit" [disabled]="myForm.invalid">Actualizar</button>
		</div>
	</form>
</ion-content>
