page-admin-home {
	.toolbar-title-md {
		font-size: 16px;
	}
	.name-nav {
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		max-width: 100px;
		font-size: 11px;
		background-color: #036AC0;
		color: #fff;
		font-weight: 100;
		font-style: italic;
	}
}
