<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Publicaciones</ion-title>
		<ion-buttons end>
			<button ion-button icon-only color="white" (click)="goToConfig()">
				<span class="name-nav">{{ user.empresa ? user.empresa.nombre_emp : '' }}</span>
				<ion-icon name="person"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content padding view-title="Convocatorias" hide-back-button="true">
	<ion-list *ngFor="let post of posts">
		<ion-item (click)="viewPublish(post.id)">
			<h2>{{ post.title }}</h2>
			<p>{{ post.modalidad }} - {{ post.fecha_fin }}</p>
		</ion-item>
	</ion-list>
</ion-content>
